*.txt
!requirements.txt
A2/Assignment 2 Question 1/src/wikipedia_data
A2/Assignment 2 Question 1/src/wikipedia.token*
!A2/Assignment 2 Question 3/src/Web-Stanford.txt
!A2/Assignment 2 Question 3/src/readme.txt